* {box-sizing: border-box;}
html { overflow-y: scroll; }
  body{        
    padding-top: 80px;
    padding-bottom: 40px;
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 20px 0;
    color: #fff;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}
.container{
    width: 90%;
    margin: 0 auto; 
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
.headerImage {
  height:50px;
  width:50px;
  border-radius: 50%;
}
.cutter{
  width: 250%;
}
/*================================= old css ===================*/
.row {  
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}
.side {
  -ms-flex: 20%;
  flex:20%;
  background-color: #f1f1f1;
  padding: 20px;
  padding-top: 35px;
}

.locationsDiv{
  background-color:teal;
  width: 100%;
  padding: 20px;
}
.locationsDiv p{
  padding-top: 10px;
  color:white;
}
.locationsDiv li{
  padding: 5px;
  color: white;
  font-size: 15px;
  font-weight: 400;
}
#EmptyDiv{
  background-color:#f1f1f1;
  padding: 5px;
}
.HoursDiv{
  background-color:teal;
  width: 100%;
  padding: 20px;
}
.HoursDiv li{
  padding: 5px;
  color: white;
  font-size: 15px;
  font-weight: 400;
}
.ContactDiv{
  background-color:teal;
  width: 100%;
  padding: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
a{
  text-decoration: none;
  padding: 5px;
  color: white;
  font-size: 15px;
  font-weight: 400;
}
.main {   
  
  -ms-flex: 60%; 
  flex: 60%;
  background-color: white;
  padding: 20px;
  padding-top: 35px;
}
h2{
  font-size: xx-large;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}
.row2:after {
  padding: 20px;
  content: "";
  display: table;
  clear: both;
}
.row2 p{
  font-weight: bold;
}
/*======================== this part is for sales screen==================*/
table{
  border :solid 2px black;
}
tr{
border :solid 2px black;
}
td{
border :solid 2px black;
}
th{
border :solid 2px black;
}
/*===================== this part is for form page===========*/
legend{
font-size: 35px;
text-align: center;
padding: 15px;
}
input {
width: 50%;
padding: 12px 20px;
margin: 8px 0;
border: none;
border-bottom: 2px solid black;
background-color: lightblue;
}
label{
padding: 15px;
}
.FormMain {
margin: 0 auto;
width: 500px;
clear: both;
}
.FormMain input {
width: 100%;
clear: both;
}